@using Microsoft.AspNet.Identity
@using NanjilERP.Models;
@if (Request.IsAuthenticated)
{
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/img/user.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">@User.Identity.GetUserName()</span>
        </a>
      @{ ApplicationDbContext db = new ApplicationDbContext();
          string userId = User.Identity.GetUserId();
          ApplicationUser currentUser = db.Users.FirstOrDefault(x => x.Id == userId);
          ViewBag.EmpId = currentUser.EmployeeId.ToString();
          
      }
        <ul class="dropdown-menu">
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
            
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">Alexander Pierce</h3>
            @*<h5 class="widget-user-desc">Founder & CEO</h5>*@
            <h5 class="widget-user-desc">Last Login : @Session["lastLoggedTime"]</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="~/Content/img/user.jpg" alt="User Avatar">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">3,200</h5>
                        <span class="description-text">SALES</span>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">13,000</h5>
                        <span class="description-text">@ViewBag.EmpId</span>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        @*<h5 class="description-header">35</h5>
                        <span class="description-text">PRODUCTS</span>*@
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Log off</a>
                        @*<a href="@Url.Action("LogOff", "Account")" class="btn btn-default btn-flat"> Log off</a>*@
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.widget-user -->

}
        </ul>
       
    </li>

}





